<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.CameraServer" version="1.0.1" targetFramework="net451" />
  <package id="FRC.NetworkTables.Core" version="3.1.6" targetFramework="net451" />
  <package id="FRC.NetworkTables.Core.DesktopLibraries" version="3.1.6" targetFramework="net451" />
  <package id="FRC.OpenCvSharp" version="1.0.1" targetFramework="net451" />
  <package id="FRC.OpenCvSharp.DesktopLibraries" version="1.0.1" targetFramework="net451" />
  <package id="FRC.WPILibNativeLibraries" version="2017.0.5" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.1.0" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.3.2" targetFramework="net451" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.3.2" targetFramework="net451" />
  <package id="NativeLibraryUtilities" version="1.0.0" targetFramework="net451" />
  <package id="NUnit" version="3.6.0" targetFramework="net451" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net451" />
  <package id="System.Reflection.Metadata" version="1.4.2" targetFramework="net451" />
</packages>