<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.NetworkTables" version="2016.0.2.17" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0" targetFramework="net45" />
  <package id="NUnit" version="3.2.1" targetFramework="net45" />
  <package id="OpenCover" version="4.6.519" targetFramework="net45" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net45" />
  <package id="System.Reflection.Metadata" version="1.0.21" targetFramework="net45" />
</packages>