<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.CameraServer" version="0.9.4-rc1" targetFramework="net461" />
  <package id="FRC.NetworkTables.Core" version="3.1.4-rc2" targetFramework="net461" />
  <package id="FRC.NetworkTables.Core.DesktopLibraries" version="3.1.4-rc2" targetFramework="net461" />
  <package id="FRC.OpenCvSharp" version="0.9.4-rc2" targetFramework="net461" />
  <package id="FRC.OpenCvSharp.DesktopLibraries" version="0.9.4-rc2" targetFramework="net461" />
  <package id="FRC.WPILibNativeLibraries" version="2017.0.3-rc1" targetFramework="net461" />
</packages>