<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.CameraServer" version="1.0.2" targetFramework="net461" />
  <package id="FRC.NetworkTables.Core" version="3.1.8" targetFramework="net461" />
  <package id="FRC.NetworkTables.Core.DesktopLibraries" version="3.1.8" targetFramework="net461" />
  <package id="FRC.OpenCvSharp" version="1.0.3" targetFramework="net461" />
  <package id="FRC.OpenCvSharp.DesktopLibraries" version="1.0.3" targetFramework="net461" />
  <package id="FRC.WPILibNativeLibraries" version="2017.1.0" targetFramework="net461" />
  <package id="NativeLibraryUtilities" version="1.0.3" targetFramework="net461" />
</packages>