<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.CameraServer" version="1.0.0" targetFramework="net451" />
  <package id="FRC.NetworkTables.Core" version="3.1.6" targetFramework="net451" />
  <package id="FRC.OpenCvSharp" version="1.0.0" targetFramework="net451" />
  <package id="NativeLibraryUtilities" version="1.0.0" targetFramework="net451" />
</packages>