<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FRC.CameraServer" version="2017.0.1-beta-0003" targetFramework="net451" />
  <package id="FRC.NetworkTables.Core" version="3.0.0-beta-0114" targetFramework="net451" />
  <package id="FRC.WPILibNativeLibraries" version="2017.0.1-beta-0005" targetFramework="net451" />
  <package id="NUnit" version="3.5.0" targetFramework="net451" />
</packages>